@charset="utf-8";
p,a,div,span{
	font-family: "MicrosoftYaHei";
}

body{
	min-width: 1200px;
}
.nav_list ul li a{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.video{
	width:1156px;
	margin:0 auto;
	margin-bottom: 37px;
	overflow: hidden;
}
.con-1{
	margin-bottom: 46px;

}
.con-1 p{
	text-align: center;
	font-size: 20px;
	color:#333;
}
.con-1 p:nth-child(2){
	font-size: 12px;
	color:#999;
}
.con-1 p:nth-child(1){
	margin-bottom: 10px;
	font-size: 21px;
}
.con-2{
	margin-bottom: 46px;
}
.con-2 p{
	text-align: center;
	font-size: 18px;
	color:#333;
}
.con-3 p{
	text-indent: 2em;
	font-size: 16px;
	line-height: 30px;
	color:#666;
}
.con-4{
	margin-top: 57px;
}
.tu1{
	float:left;
	width:488px;
}
.tu1 img{
	width:100%;
}
.tu-t{
	margin-right: 82px;
}
.con-5{
	margin-top: 60px;
}
.con-5 span{
	width:33.3%;
	float:left;
	text-align: center;
	font-size: 14px;
	color:#666;
}
.mianb{
	position: relative;
	top:-170px;
	left:20px;
	width:1200px;
	height:25px;
	margin:0 auto;
	z-index: 10;
}
.mianb p{
	font-size: 14px;
	color:#fff;
}

.mianb p a{
	font-size: 14px;
	color:#fff;
}